* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.app {
  min-height: 100vh;
  background-image: url('../../img/game-of-trones.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
}
.panel {
  padding: 20px;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.4);
}
.index-wrap {
  display: flex;
}