.random-char {
  margin-bottom: 20px;
  &.panel {
	width: 600px;
  }
  
  &__title {
	margin-bottom: 40px;
  }
  &__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-top: 1px solid #949cc1;
  }
}